<mat-card class="project-card">
    <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
    </mat-card-header>
    <img *ngIf="!project?.img" mat-card-image src="https://i.dobrzemieszkaj.pl/i/26/00/93/r3/1920/dobrze-mieszkaj-lubi-dzieci-wyniki-konkursu-plastycznego-dla-dzieci-na-4-design-days-8.jpg" alt="House">
    <mat-card-content class="about">
        <p>
            {{project?.aboutShort}}
        </p>
    </mat-card-content>
    <mat-card-subtitle>{{ project?.date }}</mat-card-subtitle>
    <mat-card-actions class="flex">
        <a [routerLink]="['/projekty', project?.link]"><button mat-button *ngIf="!editing" >Więcej informacji...</button></a>
        <button mat-button *ngIf="editing && project?.id" [routerLink]="['/edytuj', project?.id]">Edytuj</button>
        <span class="spacer"></span>
        <button mat-button color="warn" *ngIf="editing && project?.id" (click)="deleteProject(project.id)">Usuń</button>
    </mat-card-actions>
</mat-card>

