<mat-card [ngClass]="{'bottom-sheet': true, 'bottom-sheet-hidden': isHidden | async}">
    <mat-toolbar color="accent" class="bottom-sheet-title">
        Zarządzaj
    </mat-toolbar>
    <div class="bottom-sheet-content">
        <div *ngIf="!(user | async); else logged">
            <form>
                <mat-form-field>
                    <mat-label>Hasło</mat-label>
                    <input name="pass" [(ngModel)]="password" matInput type="password">
                </mat-form-field>
                <button class="submit-button" color="primary" mat-fab aria-label="Login" (click)="login()">
                    <mat-icon class="header-icon">done</mat-icon>
                </button>
                <div style="height: 27px"></div>
                <button mat-flat-button color="primary" (click)="resetPass()">Resetuj hasło</button>
            </form>
        </div>
    </div>
    <ng-template #logged>
        <p>Zalogowano jako {{(user | async)?.email}}</p>
        <mat-slide-toggle  [(ngModel)]="sliderState" (click)="toggleEditing()">Tryb edycji</mat-slide-toggle>
        <div style="height: 27px"></div>
        <button mat-flat-button color="primary" class="button-logged" (click)="resetPass()">Resetuj hasło</button>
        <button mat-flat-button color="primary" class="button-logged" (click)="logout()">Wyloguj</button>
    </ng-template>
</mat-card>