<mat-card fxFlex>
    <p>
        <strong>Geneza</strong>
    </p>
    <p>
        Strona ta powstała głównie w celu nauki platformy <strong>Angular</strong>.<br/>
        Została zainspirowana sytuacją z życia, gdy kiedyś zostałem poproszony o stworzenie prostej strony dla pracowni architektonicznej. <br/>
        Kilka funkcjonalności wymaga dalszego rozwoju, kilka jest tylko ćwiczeniem, jednak cały serwis może być bazą do stworzenia profesjonalnej strony.
    </p>
    <p>
        <strong>Narzędzia</strong>
    </p>
    <ul>
        <li>
            <strong>Angular</strong> wraz z <strong>CLI</strong>
        </li>
        <li>
            Angular <strong> Material Design</strong>, SASS
        </li>
        <li>
            <strong>RxJS</strong></li><li>Baza danych: <strong>Firebase</strong>
        </li>
        <li>
            Hosting: <strong>Firebase,</strong> subdomena <strong>OVH</strong>
        </li>
        <li>
            testy: <strong>Jasmine</strong>
        </li>
    </ul>
    <p>
        <strong>Funkcjonalności</strong>
    </p>
    <ul>
        <li>
            <strong>Tryb edycji</strong> - po zalogowaniu i aktywowaniu trybu edycji możliwość edycji zawartości strony. Dostępny z menu w prawym, dolnym rogu.
        </li>
        <li>
            <strong>Jeden użytkownik</strong>, e-mail przypisany na stałe, możliwość zmiany hasła za pomocą linku wysłąnego na maila.
        </li>
        <li>
            <strong>Dwa dostępne moduły stron</strong>: strony z edytowalnym tekstem oraz strony z galerią. Układ stron zaprogramowany z góry.
            <ul>
                <li>
                    moduł strony z tekstem: edytowany za pomocą CK Editor.
                </li>
                <li>
                    moduł galerii: możliwość dodawania, usuwania oraz zmiany kolejności projektów, możliwość edycji tekstów, walidacja pól.
                </li>
            </ul>
        </li>
        <li>
            <strong>Informacje o błędach i akcjach</strong> za pomocą wyskakującego dymku.
        </li>
    </ul>
    <p>
        <strong>W przyszłości</strong>
    </p>
    <ul>
        <li>
            Możliwość tworzenia i usuwania stron.
        </li>
        <li>
            Więcej opcji użytkownika.
        </li>
        <li>
            Moduł formularza kontaktowego.
        </li>
        <li>
            Funkcjonalność wgrywania własnych obrazków (nie została jeszcze zaimplementowana).
        </li>
    </ul>
    <p>
        <a href="https://github.com/kozlowski-michal/projekt-portfolio" target="_blank">
            <strong>
                GitHub
            </strong>
        </a> 
        - w kodzie znajdują się opisy logiki serwisu.
    </p>
    <h3>
        <strong>
            Zaloguj się aby edytować inne strony (w prawym dolnym rogu, hasło: FajnaPracownia).
        </strong>
    </h3>
</mat-card>